{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
 <!-- Heading | Hero-->
<div class="hero-image  h-100">
    <div class="hero-text">
        <h1>Midlands Soccer Lessons</h1>
        <p>"To be the best, you have to learn from the best."</p>
        <button> Book Today</button>
    </div>
</div>

<!--Midlands Training Locations-->
<h2 class="card-title">Venues</h2>

<!--Card Group-->
<div class="card-container">
    <div class="row row-cols-1 row-cols-md-3 g-5">
        <div class="col">
          <div class="card h-100">
            <img src="/static/images/portloaise-complex.jpg" class="card-img-top"
              alt="Portloaise training grounds.">
            <div class="card-body">
              <h5 class="card-title">Portloaise</h5>
              <p class="card-text">
                Portloaise training grounds.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/static/images/tullamore-complex.jpg" class="card-img-top"
              alt="Tullamore training grounds.">
            <div class="card-body">
              <h5 class="card-title">Tullamore</h5>
              <p class="card-text">Tullamore training grounds.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/static/images/mullingar-complex.jpg" class="card-img-top"
              alt="Mullingar training grounds.">
            <div class="card-body">
              <h5 class="card-title">Mullingar</h5>
              <p class="card-text">
                Mullingar training grounds.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  

<!--Soccer Courses-->
<h2 class="card-title">Soccer Courses</h2>

<!--Card Group-->
<div class="card-container">
    <div class="row row-cols-1 row-cols-md-3 g-5">
        <div class="col">
          <div class="card h-100">
            <img src="/static/images/younger-boys-course.jpg" class="card-img-top"
              alt="Team photo of young boys huddled together in a circle.">
            <div class="card-body">
              <h5 class="card-title">Boys aged: 7+</h5>
              <p class="card-text">
                This training course is suitable for boys aged 7 - 14.</p>
              <br>
              <a href="#">Click here to know more.</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/static/images/older-boys-course.jpg" class="card-img-top"
              alt="Team photo of boys receiving an instruction from a coach.">
            <div class="card-body">
              <h5 class="card-title">Boys aged 14+</h5>
              <p class="card-text">This training course is suitable for boys aged 14 - 21.</p>
              <br>
              <a href="#">Click here to know more.</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/static/images/girl-course.jpg" class="card-img-top"
              alt="Team photo of a coach giving a friendly hand clap gesture to the girls.">
            <div class="card-body">
              <h5 class="card-title">Girls aged 9+</h5>
              <p class="card-text">
                This training course is suitable for girls aged 9 - 14.</p>
                <br>
                <a href="#">Click here to know more.</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
    
<!-- index.html content ends here -->
{% endblock %}