{% extends "base.html" %}

{% load static %}

{% url 'profile' as profile_url %}

{% block content %}

<h1>Welcome to your profile page, {{ user.username }}</h1>

<div>
  <p>Email: {{ user.email }}</p>
  <p>Phone: {{ user.phone }}</p>
</div>

<div class="container">
    <div><h2>Bookings</h2>
      <form method="post" action="{% url 'bookings' %}" enctype="multipart/form-data">
        <table class="table">
          <tr class="tr">
            <th class="th">Course</th><br>
            <th class="th">Venue</th>
            <th class="th">Number of Enrollments</th>
            <th class="th">Status</th>
          </tr>
          <tr class="tr">
            <td class="td">(Example: Course 1) - need to link bookings</td>
            <td class="td">(Tullamore)</td>
            <td class="td">(1)</td>
            <td class="td">Awaiting Approval</td>
          </tr>
          <tr class="tr">
            <td class="td">...</td>
            <td class="td">...</td>
            <td class="td">...</td>
            <td class="td">Awaiting Approval</td>
          </tr>
        </table>
    </form>
    </div>
  </div>

{% endblock %}