{% extends "base.html" %}

{% load static %}

{% url 'profile' as profile_url %}

{% block content %}

<h1>Welcome to your profile page, {{ user.username }}</h1>

<div>
  <p>Email: {{ user.email }}</p>
  <p>Phone: {{ booking.phone }}</p>
</div>

<div class="container">
    <div><h2>Bookings</h2>
        <div class="bookings">
          {% for booking in bookings %}
          {% if user == booking.user %}
        <table class="table">
          <tr class="tr">
            <th class="th">Course</th><br>
            <th class="th">Venue</th>
            <th class="th">Number of Enrollments</th>
            <th class="th">Booking Date</th>
            <th class="th">Booking Time</th>
            <th class="th">Status</th>
            <th class="th">Action</th>
          </tr>
          <tr class="tr">
            <div class="booking">
              <td class="td">{{ booking.course_selection }}</td>
            </div>
            <td class="td">(Tullamore)</td>
            <td class="td">{{ booking.number_of_attendees }}</td>
            <td class="td">{{ booking.booking_date }}</td>
            <td class="td">{{ booking.booking_time }}</td>
            <td class="td">{{ booking.booking_status }}</td>
            <td><button formnovalidate name="edit" value="{{ booking.id }}"><a  href="{% url 'edit_booking' booking.id %}">Edit</a></button> 
              <button formnovalidate name="delete" value="{{  booking.id }}" type="submit" onclick="return confirm('Are you sure you want to CANCEL your booking?');"><a href="{% url 'delete_booking' booking.id %}">Cancel</a></button> 
              <button id="myBtn" name="save" value="{{  booking.id }}"><a href="{% url 'bookings' %}">New Booking</a></button></td>
          </tr>
        </table>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
