body {
    background-color: #F9FAFC;
}

.logo {
    font-family: 'Rubik Burned', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #445261;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

/* End Section */

.end {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 40px;
}

/* ----- Index.html page -----*/

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/background-img.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:sticky;

  box-sizing: border-box;
  padding-top: 250px;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Venues and Courses section */

.card-title {
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 10px;
}

.card-container {
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    display: flex;

}

/* ----- Profile.html page -----*/

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .td, .th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .tr:nth-child(even) {
    background-color: #dddddd;
  }

  